USE [master]
GO

CREATE DATABASE [Gringotts]
GO

USE [Gringotts]
GO

CREATE TABLE [WizzardDeposits](
	[Id] INT PRIMARY KEY,
	[FirstName] VARCHAR(50),
	[LastName] VARCHAR(60),
	[Notes] TEXT,
	[Age] INT,
	[MagicWandCreator] VARCHAR(100),
	[MagicWandSize] SMALLINT,
	[DepositGroup] VARCHAR(20),
	[DepositStartDate] DATE,
	[DepositAmount] DECIMAL(8,2),
	[DepositInterest] DECIMAL(5,2),
	[DepositCharge] DECIMAL (8,2),
	[DepositExpirationDate] DATE,
	[IsDepositExpired] BIT
)

INSERT [dbo].[WizzardDeposits] ([Id], [FirstName], [LastName], [Notes], [Age], [MagicWandCreator], [MagicWandSize], [DepositGroup], [DepositStartDate], [DepositAmount], [DepositInterest], [DepositCharge], [DepositExpirationDate], [IsDepositExpired]) VALUES (1, 'Hannah', 'Abbott', 'Hufflepuff student in Harry''s year and member of Dumbledore''s Army.', 71, 'Antioch Peverell', 19, 'Troll Chest', CAST('1990-09-27' AS Date), CAST(47443.03 AS Decimal(8, 2)), CAST(29.28 AS Decimal(5, 2)), CAST(73.00 AS Decimal(8, 2)), CAST('1991-04-08' AS Date), 0)
GO
INSERT [dbo].[WizzardDeposits] ([Id], [FirstName], [LastName], [Notes], [Age], [MagicWandCreator], [MagicWandSize], [DepositGroup], [DepositStartDate], [DepositAmount], [DepositInterest], [DepositCharge], [DepositExpirationDate], [IsDepositExpired]) VALUES (2, 'Bathsheda', 'Babbling', 'Ancient Runes teacher at Hogwarts', 63, 'Ollivander family', 20, 'Human Pride', CAST('1986-03-27' AS Date), CAST(46597.40 AS Decimal(8, 2)), CAST(26.64 AS Decimal(5, 2)), CAST(64.00 AS Decimal(8, 2)), CAST('1986-05-16' AS Date), 1)
GO

--06.Indices and Data Aggregation
--1. Records’Count
SELECT COUNT(*) AS [Count]
    FROM WizzardDeposits

--2.Longest Magic Wand
SELECT TOP(1) MagicWandSize AS LongestMagicWand
	FROM WizzardDeposits
ORDER BY MagicWandSize DESC

--3.Longest Magic Wand Per Deposit Groups
SELECT w.DepositGroup, MAX(w.MagicWandSize) AS LongestMagicWand
	FROM WizzardDeposits w 
GROUP BY w.DepositGroup

--4.*Smallest Deposit Group Per Magic Wand Size
SELECT TOP(2) DepositGroup
		FROM WizzardDeposits w
GROUP BY w.DepositGroup
ORDER BY AVG(w.MagicWandSize)

--5.Deposits Sum
SELECT DepositGroup, SUM(W.DepositAmount) AS TotalSum
	FROM WizzardDeposits W
GROUP BY W.DepositGroup

--6.Deposits Sum for Ollivander Family
SELECT DepositGroup, SUM(DepositAmount) AS TotalSum
	FROM WizzardDeposits
WHERE MagicWandCreator = 'Ollivander family'
GROUP BY DepositGroup

--7.Deposits Filter
SELECT DepositGroup, SUM(DepositAmount) AS TotalSum
	FROM WizzardDeposits
WHERE MagicWandCreator = 'Ollivander family'
GROUP BY DepositGroup
HAVING SUM(DepositAmount) < 150000
ORDER BY TotalSum DESC

--8.Deposit Charge
SELECT DepositGroup, MagicWandCreator, MIN(DepositCharge) AS MinDepositCharge
	FROM WizzardDeposits
GROUP BY DepositGroup, MagicWandCreator
ORDER BY MagicWandCreator, DepositGroup

--9.Age Groups
SELECT AllAge AS AgeGroup, COUNT(*) AS WizardCount
	FROM (
			SELECT CASE 
			WHEN Age BETWEEN 0 AND 10 THEN '[0-10]'
			WHEN Age BETWEEN 11 AND 20 THEN '[11-20]'
			WHEN Age BETWEEN 21 AND 30 THEN '[21-30]'
			WHEN Age BETWEEN 31 AND 40 THEN '[31-40]'
			WHEN Age BETWEEN 41 AND 50 THEN '[41-50]'
			WHEN Age BETWEEN 51 AND 60 THEN '[51-60]'
			ELSE '[61+]'
			END AS AllAge
			 FROM WizzardDeposits
		) AS AgeTable
		GROUP BY AllAge

--10.First Letter
SELECT FirstLetter 
	FROM (
			SELECT SUBSTRING(FirstName, 1,1) AS FirstLetter
			FROM WizzardDeposits
			WHERE DepositGroup = 'Troll Chest'
	     ) AS Result
GROUP BY FirstLetter

--11.Average Interest
SELECT DepositGroup, IsDepositExpired, AVG(DepositInterest) AS AverageInterest
	FROM WizzardDeposits
WHERE DepositStartDate > '1985-01-01'
GROUP BY DepositGroup, IsDepositExpired
ORDER BY DepositGroup DESC, IsDepositExpired

--12.*Rich Wizard, Poor Wizard
SELECT SUM(Difference) AS SumDifference
 FROM ( SELECT FirstName AS HostWirzard,
			   DepositAmount AS HostWizardDeposit,
        LEAD(FirstName) OVER (ORDER BY Id) AS GuestWizard,
		LEAD(DepositAmount) OVER (ORDER BY Id) AS GuestDeposit,
		(DepositAmount - LEAD(DepositAmount) OVER (ORDER BY Id)) AS Difference
		FROM WizzardDeposits
	  ) AS DifferenceAmountQuery